                                                            /* Display in FlexBox */

/* .container{
    display:flex;
    border:2px solid black;
}

.box{
    
    width:200px;
    height:200px;
}

#box1{
    background-color:orange;
    color: green;
}

#box2{
    background-color: orange;
    color: red;
}

#box3{
    background-color: orange;
    color: blue;
}

#box4{
    background-color: orange;
    color: black;
}
#box5{
    background-color: orange;
    color:violet;
} */



                                                        /* FlexBox in Direction */

/* .container{
    border:2px solid red;
    display:flex;
    flex-direction: row-reverse;
}

.box{
    
    width:200px;
    height:200px;
}


#box1{
    background-color:orange;
    color: green;
}

#box2{
    background-color: orange;
    color: red;
}

#box3{
    background-color: orange;
    color: blue;
}

#box4{
    background-color: orange;
    color: black;
}
#box5{
    background-color: orange;
    color:violet;
}  */


                                                    /* Flex-Wrap in Flex */

 /* .container{
    border:2px solid red;
    display:flex;
    flex-wrap:wrap-reverse;
    width:500px;
}

.box{
    width:200px;
    height:200px;
}


#box1{
    background-color:orange;
    color: green;
}

#box2{
    background-color: orange;
    color: red;
}

#box3{
    background-color: orange;
    color: blue;
}

#box4{
    background-color: orange;
    color: black;
}
#box5{
    background-color: orange;
    color:violet;
}   */


                                                /* Justify Content in Flexbox */

 /* .container{
     display:flex;
     border:2px solid red;
    justify-content: space-evenly; 
    
}

.box{
    width:200px;
    height:200px;
}


#box1{
    background-color:orange;
    color: green;
}

#box2{
    background-color: orange;
    color: red;
}

#box3{
    background-color: orange;
    color: blue;
}

#box4{
    background-color: orange;
    color: black;
}
#box5{
    background-color: orange;
    color:violet;
}  */


                                                            /* Align Items in FlexBox */

.container{
     display:flex;
     border:2px solid red;
    /* justify-content: space-around; */
    align-content: center;
    gap:10px;
    
}

.box{
    width:200px;
    height:200px;
    padding: 1px;
}


#box1{
    background-color:orange;
    color: green;
   
}

#box2{
    background-color: orange;
    color: red;
}

#box3{
    background-color: orange;
    color: blue;
}

#box4{
    background-color: orange;
    color: black;
}
#box5{
    background-color: orange;
    color:violet;
}  
