/* .container{
    border: 3px solid red;
}

img{
    display:block;
    margin: auto;
} */


.container2{
    border:4px solid black;
    display: block;
    margin: auto;
    
}

.box{
    border: 3px solid green;
    display:inline-block;
    width: 400px;
    padding: 3px;
    box-sizing: border-box;
}


.container3{
    border:4px solid orange;
    margin-top:30px;
    display: inline-block;
}

.box2{
    border: 3px solid green;
   
    margin:auto;
   width:30%;
    padding: 10px 5px;

}

#box4{
    border: 2px solid red;
    float: left;
    width:48%;
}

#box5{
    border: 2px solid deeppink;
    float: right;
    width:48%;
}

#box6{
    border: 2px solid green;
  clear: both;
    width:100%;
}